.sec1__grid,
.sec2__grid,
.sec3__grid,
.sec4__grid,
.sec5__grid,
.sec6__grid,
.sec7__grid,
.sec8__grid,
.sec9__grid,
.sec10__grid,
.sec11__grid,
.sec12__grid {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.btn {
    position: relative;
    z-index: 99;
    display: block;
    width: 100%;
    max-width: 340px;
    margin: auto;
    padding: 16px 10px 16px;
    font-weight: 900;
    font-size: 26px;
    color: white;
    text-transform: uppercase;
    background: #fc7e02;
    border: none;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    outline: none;
    -webkit-box-shadow: 0 0 13px 2px #9c9c9c;
    box-shadow: 0 0 13px 2px #9c9c9c;
    cursor: pointer;
}

.btn:hover {
    background: #ff175e;
}

.sec1__part,
.sec2__part,
.sec3__part,
.sec4__part,
.sec5__part,
.sec6__part,
.sec7__part,
.sec8__part,
.sec9__part,
.sec10__part,
.sec11__part,
.sec12__part {
    display: table-cell;
    vertical-align: top;
    position: relative;
}

.header__container,
.sec1__container,
.sec2__container,
.sec3__container,
.sec4__container,
.sec5__container,
.sec6__container,
.sec7__container,
.sec8__container,
.sec9__container,
.sec10__container,
.sec11__container,
.sec12__container {
    position: relative;
    max-width: 970px;
    margin: 0 auto;
    padding: 0 10px;
}

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
}

body {
    margin: 0;
    font-size: 20px;
}

body {
    min-width: 975px;
    color: #022c59;
}

.font-mons {
    font-family: "Montserrat", sans-serif;
}

.font-PT {
    font-family: "PT Sans", sans-serif;
}

b {
    font-weight: bold;
}

.main__wrapper {
    overflow: hidden;
}

.header {
    text-align: center;
    background: #ffffff;
}

.header .logo {
    position: relative;
    display: table;
    margin: 25px auto;
    font-size: 36px;
    color: #626262;
    text-transform: uppercase;
}

.header .h1 {
    position: relative;
    z-index: 9;
    margin: 15px auto 0;
    font-size: 36px;
    text-align: left;
    color: #1ba8c4;
}

.header .logo:before {
    content: "";
    position: absolute;
    top: 50%;
    left: -142px;
    display: block;
    width: 135px;
    height: 67px;
    margin-top: -34px;
    background: url('../img/best_seller.png') no-repeat;
}

.header .logo:after {
    content: "";
    position: absolute;
    top: 50%;
    right: -80px;
    display: none;
    width: 70px;
    height: 70px;
    margin-top: -34px;
    background: url('../img/logo.png') no-repeat;
}

b {
    font-weight: 700;
}

.sec1 {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+1,e6edf3+100 */
    background: #e6edf3;
    /* Old browsers */
    /* FF3.6-15 */
    background: -webkit-radial-gradient(top, ellipse cover, #ffffff 1%, #e6edf3 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: -webkit-radial-gradient(top ellipse, #ffffff 1%, #e6edf3 100%);
    background: -o-radial-gradient(top ellipse, #ffffff 1%, #e6edf3 100%);
    background: -webkit-radial-gradient(top, ellipse, #ffffff 1%, #e6edf3 100%);
    background: -o-radial-gradient(top, ellipse, #ffffff 1%, #e6edf3 100%);
    background: radial-gradient(ellipse at top, #ffffff 1%, #e6edf3 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6edf3', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
}

.sec1__text__gr {
    background: -webkit-linear-gradient(#236fbe 20%, #093b6d);
    background: -o-linear-gradient(#236fbe 20%, #093b6d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.sec1__text__top {
    position: relative;
    z-index: 9;
    padding: 18px;
    font-size: 17px;
    text-align: center;
    color: #ffffff;
    background: rgba(29, 29, 29, 0.8);
}

.sec1__text__top span {
    font-weight: 700;
    color: #e33667;
    text-transform: uppercase;
}

.sec1__text__bottom {
    position: absolute;
    bottom: 0;
    z-index: 0;
    width: 200px;
    width: 100%;
    padding: 22px 18px 13px;
    padding-left: 100px;
    font-size: 16px;
    text-align: left;
    color: #ffffff;
    background: rgba(29, 29, 29, 0.6);
}

.sec1__text__bottom .sec1__container span {
    position: relative;
    padding-left: 165px;
}

.sec1__h1 {
    position: relative;
    z-index: 999;
    margin-bottom: 30px;
    padding-top: 10px;
    font-weight: 900;
    font-size: 50px;
    line-height: 1;
    text-align: left;
    letter-spacing: -2px;
}

.product_name {
    width: 600px;
    margin: auto;
    font-weight: 700;
    font-size: 21px;
}

.product_name div {
    display: inline-block;
    width: 294px;
    padding: 10px;
    text-align: center;
}

.red_name b {
    color: #ca2957;
}

.green_name b {
    color: #1e9e0d;
}

.number-1 {
    padding: 3px 12px;
    font-size: 21px;
    color: #ffffff;
    background: #ca2957;
    -webkit-border-radius: 30px;
    border-radius: 30px;
}

.number-2 {
    margin-left: -4px;
    padding: 3px 9px;
    font-size: 21px;
    color: #ffffff;
    background: #1e9e0d;
    -webkit-border-radius: 30px;
    border-radius: 30px;
}

.green {
    color: #1e9e0d;
}

.sec1__prod {
    position: relative;
    left: 0;
    right: 0;
    margin: auto;
    display: block;
}

.secret {
    position: relative;
    bottom: 0;
    font-weight: 600;
}

.secret .border-clock {
    position: relative;
    right: 0;
    display: table;
    margin: 0 auto;
    padding: 4px 5px;
    border: 1px solid #c9cdcf;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.sec1__part:first-of-type .secret span {
    position: relative;
    top: -15px;
    z-index: 9;
    display: inline-block;
    width: 134px;
    padding-right: 5px;
    font-weight: 500;
    font-size: 18px;
    line-height: 1;
    text-align: right;
}

.sec1__grid {
    position: relative;
    left: 118px;
    width: 800px;
    margin: 10px auto;
}

.sec1__part {
    padding: 10px 10px 0;
}

.sec1__part:first-of-type .sec1__prod {
    position: absolute;
    bottom: 150px;
    left: 0;
    z-index: 0;
}

.sec1__part:last-of-type .prices {
    position: relative;
    z-index: 3;
    padding: 0 20px 0 16px;
    line-height: 1.2;
}

.new_price,
.old_price {
    position: relative;
    top: 0;
    display: table;
    margin: 0 auto;
    padding-bottom: 15px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1;
    text-align: left;
    color: #ca2957;
    -webkit-transition: all .5s 1s;
    -o-transition: all .5s 1s;
    transition: all .5s 1s;
}

.old_price::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -1px;
    height: 2px;
    width: 0;
    background-color: currentColor;
    -webkit-transition: width .8s;
    -o-transition: width .8s;
    transition: width .8s;
}

.new_price {
    font-size: 30px;
}
.old_price {
    font-size: 25px;
}

.sec12 .secret {
    display: none;
    margin-bottom: 15px;
}
.flip-clock-wrapper {
    display: table; 
    margin: 0 auto; 
    width: auto !important ; 
}
.flip-clock-wrapper ul li a div div.inn {
    -webkit-transition: background-color .1s;
    -o-transition: background-color .1s;
    transition: background-color .1s;
}

.sec12.discounted .discount {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.sec12.discounted .old_price {
    font-size: 22px;
    color: #a7acb0;
}

.sec12.discounted .old_price::after {
    width: 100%;
}

.sec12.discounted .new_price {
    font-size: 44px;
}

.sec12.discounted .secret .border-clock {
    -webkit-animation: timerBlink .5s .5s;
    animation: timerBlink .5s .5s;
}

@-webkit-keyframes timerBlink {
    0% {}

    50% {
        -webkit-box-shadow: 0 0 25px #ca2957;
        box-shadow: 0 0 25px #ca2957;
    }

    100% {
        -webkit-box-shadow: none;
        box-shadow: none;
    }
}

@keyframes timerBlink {
    0% {}

    50% {
        -webkit-box-shadow: 0 0 25px #ca2957;
        box-shadow: 0 0 25px #ca2957;
    }

    100% {
        -webkit-box-shadow: none;
        box-shadow: none;
    }
}

body.fxdBody {
    overflow: hidden;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    font-family: Myriad Pro, sans-serif;
}

.popup__wrapper {
    height: 100%;
    margin: 0 auto;
}

.popup__inner {
    vertical-align: middle;
    padding: 15px;
}

.popup__box {
    background-color: #fff;
    padding: 30px 30px 20px;
    width: 100%;
    max-width: 700px;
    position: relative;
}

.popup__box::before,
.popup__box::after {
    content: '';
    position: absolute;
}

.popup__box::before {
    left: -20px;
    top: 10px;
    width: 20px;
    height: 100%;
    background-color: #fb7d0c;
    -webkit-transform: skew(0deg, -45deg);
    -ms-transform: skew(0deg, -45deg);
    transform: skew(0deg, -45deg);
}

.popup__box::after {
    width: 100%;
    height: 20px;
    left: -10px;
    bottom: -20px;
    background-color: #ad5609;
    -webkit-transform: skew(-45deg, 0deg);
    -ms-transform: skew(-45deg, 0deg);
    transform: skew(-45deg, 0deg);
}

.popup__close {
    position: absolute;
    top: -20px;
    right: -20px;
    width: 40px;
    height: 40px;
    background-color: #fff;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    cursor: pointer;
}

.popup__close::before,
.popup__close::after {
    content: '';
    position: absolute;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}

.popup__close::before {
    right: 100%;
    top: 5px;
    width: 10px;
    height: 100%;
    background-color: #fb7d0c;
    -webkit-transform: skew(0deg, -45deg);
    -ms-transform: skew(0deg, -45deg);
    transform: skew(0deg, -45deg);
}

.popup__close::after {
    width: 100%;
    height: 10px;
    left: -5px;
    top: 100%;
    background-color: #ad5609;
    -webkit-transform: skew(-45deg, 0deg);
    -ms-transform: skew(-45deg, 0deg);
    transform: skew(-45deg, 0deg);
}

.popup__close:hover {
    -webkit-transform: translate(-10px, 10px);
    -ms-transform: translate(-10px, 10px);
    transform: translate(-10px, 10px);
    background-color: #eee;
}

.popup__close:hover::before {
    width: 0;
    -webkit-transform: skew(0deg, -45deg) translateY(-5px);
    -ms-transform: skew(0deg, -45deg) translateY(-5px);
    transform: skew(0deg, -45deg) translateY(-5px);
}

.popup__close:hover::after {
    height: 0;
    -webkit-transform: skew(-45deg, 0deg) translateX(5px);
    -ms-transform: skew(-45deg, 0deg) translateX(5px);
    transform: skew(-45deg, 0deg) translateX(5px);
}

.popup__close:hover .popup__close-icon {
    -webkit-filter: none;
    filter: none;
}

.popup__close-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../img/close-icon.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}

.popup__btn {
    display: none;
}

.popup__text {
    font-size: 20px;
    margin: 0;
    line-height: 1.3;
}

.popup__text strong {
    font-weight: 900;
    color: #105296;
    font-size: 35px;
    display: block;
}

.popup__sections {
    display: table;
    table-layout: fixed;
    width: 100%;
    margin-top: 20px;
}

.popup__sections-part {
    display: table-cell;
    vertical-align: top;
}

.popup__product {
    max-width: 100%;
    margin: 15px auto;
    position: relative;
    z-index: 5;
    display: block;
}

.popup__timer {
}

.popup__timer.blink {
    -webkit-animation: timerBlink .5s .5s;
    animation: timerBlink .5s .5s;
}

.popup__till {
    text-align: center;
    margin: 0;
    font-size: 20px;
    color: #022c59;
    font-weight: 700;
}

.popup__protection {
  margin-top: 15px;
    margin-left: -60px;
    -webkit-transform: translateX(30px);
    -ms-transform: translateX(30px);
    transform: translateX(30px);
    background-color: #ebebeb;
    font-size: 0;
    padding: 15px 0;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.popup__protection-item {
    margin: 0;
    display: inline-block;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 45%;
    flex: 0 0 45%;
    width: 45%;
    font-size: 16px;
    padding-left: 48px;
    text-align: left;
}

.popup__protection-item::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -20px;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.popup__protection-item--1::before {
    background-image: url('../img/popup-icon-1.png');
}

.popup__protection-item--2::before {
    background-image: url('../img/popup-icon-2.png');
}

.popup__form {
    max-width: 270px;
    margin: 6px auto 0;
}

.popup__cost {
    text-align: center;
    font-family: 'Montserrat';
    margin-bottom: 10px;
}

.popup__cost--mobile {
  display: none;
}

.popup__oldprice {
    margin: 0;
    font-size: 22px;
    font-weight: 900;
    color: #a7acb0;
    text-decoration: line-through;
}

.popup__newprice {
    margin: 0;
    font-size: 48px;
    color: #ca2957;
    font-weight: 900;
}

.sec1__container:after {
    content: "";
    position: absolute;
    bottom: -95px;
    left: -240px;
    z-index: 0;
    display: block;
    width: 705px;
    height: 941px;
    background: url('../img/photo1.png') no-repeat;
}

.sec1 .last__block {
    position: relative;
    z-index: 9;
    min-height: 616px;
    padding: 40px 0;
}

.sec1 .last__block .kletki {
    position: relative;
    left: -40px;
    width: 350px;
    margin: 40px auto 0;
    padding-bottom: 12px;
    font-size: 17px;
}

.sec1 .last__block .kletki span {
    position: relative;
    left: 32px;
    display: inline-block;
    width: 130px;
    margin: 0 7px;
    font-weight: 700;
    text-align: left;
}

.sec1 .last__block:after {
    content: "";
    position: absolute;
    top: -10px;
    left: -120px;
    z-index: 0;
    display: block;
    width: 149px;
    height: 191px;
    background: url('../img/grapefruit.png') no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
}

.blue {
    color: #105296;
}

.sec1 .last__block .h2 {
    margin-left: 40px;
    font-weight: 700;
    font-size: 36px;
    letter-spacing: -1px;
}

.h2 b {
    font-weight: 900;
}

.sec1 .last__block .h1 {
    margin-left: 40px;
}

.sec1 .last__block .prod {
    position: absolute;
    right: -286px;
    bottom: 20px;
}

.sec1 .last__block ul {
    position: relative;
    left: -75px;
    width: 350px;
    margin: 40px auto;
    font-size: 20px;
}

ul li {
    position: relative;
    z-index: 2;
    margin-bottom: 20px;
    padding-left: 30px;
    list-style: none;
    line-height: 1;
    color: #000000;
}

.sec1 .last__block ul li:after {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    z-index: 0;
    display: block;
    width: 25px;
    height: 22px;
    background: url('../img/check-mark.png') no-repeat;
}

.clearfix::before {
    content: "";
    display: table;
    clear: both;
}

.sec2 {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    min-height: 440px;
}

.sec2__container {
    padding: 40px 10px;
}

.h2 {
    position: relative;
    z-index: 9;
    font-weight: 700;
    font-size: 36px;
    letter-spacing: -1px;
}

.h1 {
    position: relative;
    z-index: 9;
    font-weight: 900;
    font-size: 70px;
    line-height: 1;
    letter-spacing: -1px;
}

p {
    position: relative;
    z-index: 2;
    margin: 20px 30px 20px 0;
    font-size: 20px;
    line-height: 1.2;
    color: #000000;
}

.sec2__part {
    position: relative;
    width: 50%;
}

.sec2__part:first-of-type {
    width: 44%;
}

.sec2__part:last-of-type {
    position: relative;
    vertical-align: middle;
}

.sec2 .ingridients {
    position: absolute;
    right: 145px;
    bottom: 5px;
    z-index: 2;
    width: 401px;
    height: 367px;
    background: url('../img/molecula.png') no-repeat;
    -webkit-background-size: 95% 95%;
    background-size: 95%;
}

.sec2 .woman {
    position: absolute;
    right: -140px;
    bottom: 7px;
    z-index: 1;
    width: 710px;
    height: 473px;
    background: url('../img/photo4.jpg') no-repeat;
}

.pink {
    color: #ca2957;
}

.sec2__part .text {
    position: relative;
    display: block;
    margin-top: 30px;
    font-size: 22px;
    color: #333333;
}

.sec2 .h1 {
    width: 500px;
}

.sec3 {
    /*  background: -moz-radial-gradient(top, ellipse cover, #fafbfd 1%, #e6edf3 100%);
  background: -webkit-radial-gradient(top, ellipse cover, #fafbfd 1%,#e6edf3 100%);
  background: radial-gradient(ellipse at top, #fafbfd 1%,#e6edf3 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafbfd', endColorstr='#e6edf3',GradientType=1 );*/
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    background: #e6edf3;
}

.sec3__container {
    padding: 75px 10px 30px;
}

.sec3 .number-1 {
    position: relative;
    top: -3px;
    padding: 3px 15px;
    font-size: 28px;
}

.sec3 .number-1:after {
    content: "";
    position: absolute;
    top: -64px;
    left: 0;
    z-index: 0;
    display: block;
    width: 106px;
    height: 56px;
    background: url('../img/icon2.png') no-repeat;
}

.sec3 .h1 {
    text-transform: uppercase;
}

.sec3__grid .prod {
    position: absolute;
    top: 60px;
    right: 0px;
    display: block;
    width: 446px;
}

.sec3__grid .girl {
    position: relative;
    right: -145px;
    width: 358px;
    height: 360px;
    background: url('../img/girl2.png') no-repeat;
    visibility: hidden;
}

.sec3__grid .white_block {
    position: relative;
    z-index: 9;
    margin: -10px 0 0;
    padding: 16px 10px;
    font-weight: 900;
    background: rgba(255, 255, 255, 0.5) 100%;
    background: -webkit-linear-gradient(right, white 50%, rgba(255, 255, 255, 0) 100%);
    background: -webkit-gradient(linear, right top, left top, color-stop(50%, white), to(rgba(255, 255, 255, 0)));
    background: -o-linear-gradient(right, white 50%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(to left, white 50%, rgba(255, 255, 255, 0) 100%);
    -webkit-border-radius: 10px;
    border-radius: 10px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#00ffffff', GradientType=1);
}

.sec3__part {
    position: relative;
}

.sec3__part:last-of-type {
    width: 55%;
}

.sec3 .ingr_name {
    position: relative;
    z-index: 2;
    margin: 50px 50px 0 130px;
    font-size: 24px;
    line-height: 1;
}

.sec3 ul {
    position: relative;
    margin: 20px 46px 20px 90px;
}

.sec3 ul:after {
    content: "";
    position: absolute;
    top: -155px;
    left: -386px;
    z-index: 1;
    display: block;
    width: 600px;
    height: 473px;
    background: url('../img/photo5.png') no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100%;
}

.sec3 .ingr_name:after {
    content: "";
    position: absolute;
    top: -34px;
    left: -168px;
    z-index: 1;
    display: block;
    width: 180px;
    height: 161px;
    background: url('../img/grapefruit2.png') no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100%;
}

.sec3 ul li:after {
    content: "";
    position: absolute;
    top: 1px;
    left: -2px;
    z-index: 2;
    display: block;
    width: 25px;
    height: 22px;
    background: url('../img/check-mark3.png') no-repeat;
}

.sec4 {
    /*  background: -moz-radial-gradient(top, ellipse cover, #fafbfd 1%, #e6edf3 100%);
  background: -webkit-radial-gradient(top, ellipse cover, #fafbfd 1%,#e6edf3 100%);
  background: radial-gradient(ellipse at top, #fafbfd 1%,#e6edf3 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafbfd', endColorstr='#e6edf3',GradientType=1 );*/
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    background: #e6edf3;
}

.sec4__container {
    padding: 40px 10px 50px;
}

.sec4 .number-2 {
    position: relative;
    top: -3px;
    padding: 3px 12px;
    font-size: 28px;
}

.sec4 .number-2:after {
    content: "";
    position: absolute;
    top: -78px;
    left: 0;
    z-index: 3;
    display: block;
    width: 69px;
    height: 65px;
    background: url('../img/icon.png') no-repeat;
}

.sec4 .h2 {
    margin-bottom: 10px;
}

.sec4 .h1 {
    text-transform: uppercase;
}

.sec4__grid .prod {
    position: absolute;
    top: 10px;
    right: 66px;
    z-index: 2;
    display: block;
}

.sec4__grid .girl {
    position: relative;
    top: -5px;
    right: -208px;
    z-index: 2;
    width: 284px;
    height: 400px;
    margin-top: 22px;
    background: url('../img/girl3.png') no-repeat;
}

.sec4__grid .after {
    content: "";
    /* FF3.6-15 */
    position: absolute;
    top: 50%;
    right: -276px;
    z-index: 0;
    display: block;
    width: 550px;
    height: 550px;
    margin-top: -332px;
    background: -webkit-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0.65) 0%, rgba(86, 86, 86, 0) 49%, rgba(0, 0, 0, 0) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: -webkit-radial-gradient(center ellipse, rgba(255, 255, 255, 0.65) 0%, rgba(86, 86, 86, 0) 49%, rgba(0, 0, 0, 0) 100%);
    background: -o-radial-gradient(center ellipse, rgba(255, 255, 255, 0.65) 0%, rgba(86, 86, 86, 0) 49%, rgba(0, 0, 0, 0) 100%);
    background: -webkit-radial-gradient(center, ellipse, rgba(255, 255, 255, 0.65) 0%, rgba(86, 86, 86, 0) 49%, rgba(0, 0, 0, 0) 100%);
    background: -o-radial-gradient(center, ellipse, rgba(255, 255, 255, 0.65) 0%, rgba(86, 86, 86, 0) 49%, rgba(0, 0, 0, 0) 100%);
    background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.65) 0%, rgba(86, 86, 86, 0) 49%, rgba(0, 0, 0, 0) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff', endColorstr='#00000000', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
}

.sec4__grid .white_block {
    position: relative;
    z-index: 9;
    margin: 10px 0 0;
    padding: 16px 10px 16px 120px;
    font-weight: 900;
    background: rgba(255, 255, 255, 0.5) 100%;
    background: -webkit-linear-gradient(right, white 20%, rgba(255, 255, 255, 0) 100%);
    background: -webkit-gradient(linear, right top, left top, color-stop(20%, white), to(rgba(255, 255, 255, 0)));
    background: -o-linear-gradient(right, white 20%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(to left, white 20%, rgba(255, 255, 255, 0) 100%);
    -webkit-border-radius: 10px;
    border-radius: 10px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#00ffffff', GradientType=1);
}

.sec4__part {
    position: relative;
}

.sec4__part:last-of-type {
    width: 55%;
}

.sec4 .ingr_name {
    position: relative;
    z-index: 2;
    margin: 50px 50px 0 130px;
    font-size: 24px;
    line-height: 1;
}

.sec4 ul {
    position: relative;
    margin: 20px 46px 20px 90px;
}

.sec4 ul:after {
    content: "";
    position: absolute;
    top: -54px;
    left: -264px;
    z-index: 1;
    display: block;
    width: 476px;
    height: 306px;
    background: url('../img/photo6.png') no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100%;
}

.sec4 .ingr_name:after {
    content: "";
    position: absolute;
    top: -40px;
    left: -124px;
    z-index: 1;
    display: block;
    width: 133px;
    height: 88px;
    background: url('../img/matcha.png') no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100%;
}

.sec4 ul li:after {
    content: "";
    position: absolute;
    top: 1px;
    left: -2px;
    z-index: 2;
    display: block;
    width: 25px;
    height: 22px;
    background: url('../img/check-mark2.png') no-repeat;
}

.sec5 {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    /* background: #afcadd;
    background: -moz-radial-gradient(top, ellipse cover, #fafbfd 1%,  #afcadd 100%);
  background: -webkit-radial-gradient(top, ellipse cover, #fafbfd 1%, #afcadd 100%);
  background: radial-gradient(ellipse at top, #fafbfd 1%, #afcadd 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafbfd', endColorstr='#afcadd',GradientType=1 );*/
    background: url('../img/background2.jpg') no-repeat top center;
    -webkit-background-size: cover;
    background-size: cover;
}

.sec5__container {
    padding: 50px 10px 80px;
}

/*.sec5__container:after {
  content: '';
  position: absolute;
  background: url('../../../../../../https@dadbab.info/content/tsoXdGL7OmYmonR/img/background1.png') no-repeat;
  height: 1798px;
  right: -464px;
  width: 1349px;
  top: 50%;
  margin-top: -1100px;
  display: block;
}*/
.sec5 .grafic {
    position: relative;
    z-index: 3;
    display: block;
    width: 416px;
    height: 279px;
    background: url('../img/grafik.png') no-repeat;
    background-position: 20px;
}

.sec5 .grafic1:after {
    content: "";
    position: absolute;
    bottom: 10px;
    left: 45px;
    display: block;
    width: 365px;
    height: 210px;
    background: url('../img/line1.png') no-repeat;
    background-position: -15px;
}

.sec5 .grafic2:after {
    content: "";
    position: absolute;
    bottom: 44px;
    left: 43px;
    display: block;
    width: 361px;
    height: 200px;
    background: url('../img/line2.png') no-repeat;
}

.sec5 p {
    width: 636px;
}

.sec5 .grafic p {
    width: 290px;
    font-weight: 900;
    text-align: center;
    color: #105296;
}

.sec5 .vertical p {
    position: absolute;
    top: 50%;
    left: -141px;
    margin-top: -12px;
    font-size: 16px;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.sec5 .horisontal p {
    position: absolute;
    bottom: -50px;
    left: 50%;
    margin-left: -134px;
}

.sec5 .horisontal ul li {
    position: relative;
    top: 28px;
    left: -18px;
    display: inline-block;
    margin-left: 22px;
    font-weight: 700;
    font-size: 16px;
    color: #6b94bd;
}

.sec5 .vertical ul li {
    position: relative;
    top: 36px;
    left: -52px;
    display: block;
    width: 54px;
    margin-bottom: 29px;
    font-weight: 700;
    font-size: 16px;
    text-align: right;
    color: #6b94bd;
    letter-spacing: -1px;
}

.sec5 .variant {
    position: absolute;
    top: 10px;
    left: 70px;
}

.sec5 .variant .h1 {
    font-size: 22px;
    color: #000000;
    text-transform: none;
}

.sec5 .variant ul {
    padding-left: 22px;
}

.sec5 .variant ul li {
    margin-bottom: 10px;
    padding: 0;
    line-height: 1.2;
    color: #022c59;
}

.sec5 .variant ul li.red:after {
    content: "";
    position: absolute;
    top: 5px;
    left: -22px;
    z-index: 2;
    display: block;
    width: 14px;
    height: 14px;
    background: #ff0000;
    border: 2px solid #ffffff;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.sec5 .variant ul li.gr:after {
    content: "";
    position: absolute;
    top: 5px;
    left: -22px;
    z-index: 2;
    display: block;
    width: 14px;
    height: 14px;
    background: #45983a;
    border: 2px solid #ffffff;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.sec5 .h1 {
    text-transform: uppercase;
}

.sec5 p {
    width: 636px;
}

.sec6 {
    position: relative;
    display: block;
    height: auto;
    background: url('../img/background3.jpg') center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.sec6__container {
    padding-top: 60px;
    padding-bottom: 90px;
}

.sec6__container:before {
    content: "";
    position: absolute;
    top: -9px;
    left: 61px;
    z-index: 9;
    display: block;
    width: 130px;
    height: 201px;
    background: url('../img/photo10.png') no-repeat;
    display: none;
}

.sec6__container:after {
    content: "";
    position: absolute;
    top: 9px;
    left: 1px;
    z-index: 5;
    display: block;
    width: 183px;
    height: 182px;
    background: url('../img/prod.png') no-repeat;
    display: none;
}

.sec6__part:first-of-type {
    text-align: right;
}

.sec6__part {
    position: relative;
    vertical-align: bottom;
}

.sec6__grid {
    padding: 0 200px;
}

.sec6__grid .sec6__part .morning {
    position: absolute;
    top: 30px;
    left: -200px;
    width: 132px;
    height: 100px;
    background: url('../img/icon-morning.png') no-repeat;
}

.sec6__grid .sec6__part .evening {
    position: absolute;
    top: 50px;
    right: -236px;
    width: 124px;
    height: 110px;
    background: url('../img/icon-night.png') no-repeat;
}

.sec6__grid .sec6__part:first-of-type .prod {
    position: relative;
    right: -5px;
    bottom: -2px;
    z-index: 2;
    display: block;
    margin-top: 10px;
}

.sec6__grid .sec6__part:last-of-type .prod {
    position: relative;
    bottom: -2px;
    left: -31px;
    z-index: 2;
    display: block;
    margin-top: 10px;
}

.sec6__grid .sec6__part:last-of-type p {
    margin-left: 17px;
}

.sec6__grid .sec6__part:first-of-type p {
    margin-right: 17px;
    margin-left: 30px;
}

.sec6__grid .sec6__part:first-of-type .girl {
    position: absolute;
    bottom: 0;
    left: -200px;
    z-index: 3;
    width: 225px;
    height: 345px;
    background: url('../img/girl4.png') no-repeat;
}

.sec6__grid .sec6__part:last-of-type .girl {
    position: absolute;
    right: -200px;
    bottom: 0;
    z-index: 3;
    width: 215px;
    height: 342px;
    background: url('../img/girl5.png') no-repeat;
}

.sec7 {
    position: relative;
    display: block;
    background: #b5c8db;
}

.sec7__container {
    padding-top: 40px;
    padding-bottom: 50px;
}

.sec7__container .h1,
.sec7__container .h2 {
    margin-bottom: 5px;
    padding-right: 440px;
}

.sec7__container:before {
    content: "";
    position: absolute;
    top: 0;
    right: 40px;
    z-index: 0;
    display: block;
    width: 401px;
    height: 257px;
    background: url('../img/prod.png') no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
    display: none;
}

.sec7__container:after {
    content: "";
    position: absolute;
    right: -100px;
    bottom: 10px;
    z-index: 0;
    display: block;
    width: 381px;
    height: 436px;
    background: url('../img/prod.png') no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
    display: none;
}

.sec7 .girl-name {
    margin: 18px 0 -10px 0;
    font-weight: 900;
    font-size: 24px;
}

.sec7 .sec7__girl {
    position: relative;
    z-index: 9;
    display: inline-block;
    width: 220px;
    height: 220px;
    margin: 10px 0;
    text-align: left;
    background: url('../img/photo15.jpg') no-repeat;
    border: 4px solid #acbed6;
    -webkit-border-radius: 150px;
    border-radius: 150px;
}

.sec7 .sec7__grid .inner__grid {
    position: relative;
    z-index: 6;
    display: inline-block;
    width: 390px;
    margin-bottom: 10px;
    text-align: left;
}

.sec7 .sec7__grid .inner__grid:after {
    content: "";
    position: absolute;
    bottom: 12px;
    left: 50%;
    z-index: 5;
    display: block;
    width: 24px;
    height: 14px;
    margin-left: 18px;
    background: url('../img/arrows.png') no-repeat;
}

.sec7__grid .sec7__part .inner__grid .sec7__part {
    width: 180px;
    margin: 0;
}

.light_blue {
    color: #4173e7;
}

.sec7 .inner__grid .sec7__part:first-of-type {
    width: 238px;
    padding-right: 29px;
    padding-left: 30px;
}

.sec7 .sec7__grid .inner__grid p {
    margin: 0 10px;
    font-weight: 700;
    line-height: 1;
    text-align: center;
}

.sec7 .sec7__grid .inner__grid p b {
    display: block;
    font-weight: 900;
}

.sec7 .after {
    content: "";
    position: absolute;
    top: 50%;
    left: -157px;
    z-index: 0;
    display: block;
    width: 550px;
    height: 550px;
    margin-top: -444px;
    background: -webkit-radial-gradient(center, ellipse cover, white 5%, rgba(86, 86, 86, 0) 49%, rgba(0, 0, 0, 0) 100%);
    background: -webkit-radial-gradient(center ellipse, white 5%, rgba(86, 86, 86, 0) 49%, rgba(0, 0, 0, 0) 100%);
    background: -o-radial-gradient(center ellipse, white 5%, rgba(86, 86, 86, 0) 49%, rgba(0, 0, 0, 0) 100%);
    background: -webkit-radial-gradient(center, ellipse, white 5%, rgba(86, 86, 86, 0) 49%, rgba(0, 0, 0, 0) 100%);
    background: -o-radial-gradient(center, ellipse, white 5%, rgba(86, 86, 86, 0) 49%, rgba(0, 0, 0, 0) 100%);
    background: radial-gradient(ellipse at center, white 5%, rgba(86, 86, 86, 0) 49%, rgba(0, 0, 0, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff', endColorstr='#00000000', GradientType=1);
}

.sec7__grid .sec7__part:last-of-type {
    width: 40%;
}

.sec8 {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    background: #e7ecf2;
    background: -webkit-radial-gradient(top, ellipse cover, #ffffff 1%, #e7ecf2 100%);
    background: -webkit-radial-gradient(top ellipse, #ffffff 1%, #e7ecf2 100%);
    background: -o-radial-gradient(top ellipse, #ffffff 1%, #e7ecf2 100%);
    background: -webkit-radial-gradient(top, ellipse, #ffffff 1%, #e7ecf2 100%);
    background: -o-radial-gradient(top, ellipse, #ffffff 1%, #e7ecf2 100%);
    background: radial-gradient(ellipse at top, #ffffff 1%, #e7ecf2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e7ecf2', GradientType=1);
}

.sec8__container {
    padding-top: 40px;
    padding-bottom: 40px;
}

.sec8 .sec8__container .up_p {
    width: 360px;
    margin-bottom: 116px;
    margin-left: 0;
    font-size: 24px;
    line-height: 1.3;
}

.sec8 p {
    margin-left: 276px;
}

.sec8__container .h1 {
    text-transform: uppercase;
}

.sec8__container:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -140px;
    z-index: 0;
    display: block;
    width: 540px;
    height: 349px;
    background: url('../img/photo21.png') no-repeat;
}

.sec8__container .h1,
.sec8__container .h2 {
    width: 500px;
}

.sec8 .prod {
    position: absolute;
    bottom: -95px;
    left: 325px;
    z-index: 1;
    display: block;
    width: 352px;
}

.sec8 .up_block {
    position: relative;
    margin-bottom: 116px;
}

.sec8 .up_block .pink {
    width: 350px;
}

.sec8 .girl {
    position: absolute;
    right: 115px;
    bottom: -210px;
    z-index: 5;
    width: 260px;
    height: 483px;
    background: url('../img/girl6.png') no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
}

.sec9 {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    background: #ffffff;
}

.sec9__container {
    padding-top: 40px;
    padding-bottom: 40px;
}

.sec9__container .h1 {
    margin-top: -10px;
}

.sec9__container:after {
    content: "";
    position: absolute;
    right: -45px;
    bottom: 0;
    z-index: 3;
    display: block;
    width: 450px;
    height: 388px;
    background: url('../img/girl7.png') no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100%;
    display: none;
}

.sec9__container:before {
    content: "";
    position: absolute;
    right: 50px;
    bottom: 70px;
    z-index: 1;
    display: block;
    width: 460px;
    height: 285px;
    background: url('../img/prod.png') no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100%;
}

.sec9 .dietolog {
    position: relative;
    margin-top: 46px;
    padding-right: 416px;
    padding-left: 174px;
}

.sec9 .photo_after {
    position: absolute;
    top: 14px;
    left: 0;
    width: 158px;
    height: 323px;
    background: url('../img/photo27.jpg') no-repeat;
}

.star5 {
    width: 168px;
    height: 27px;
    background: url('../img/star-5.png') no-repeat;
}

.star4 {
    width: 168px;
    height: 28px;
    background: url('../img/star-4.png') no-repeat;
}

.sec9 .photo-name_block {
    position: relative;
    margin-bottom: -10px;
}

.sec9 .photo-name_block p {
    position: absolute;
    top: 50%;
    left: 174px;
    margin-top: -30px;
    font-weight: 700;
    font-size: 24px;
}

.sec9 .girl {
    position: relative;
    top: 0;
    z-index: 9;
    width: 156px;
    height: 156px;
    margin: 10px 0;
    background: url('../img/photo23.jpg') no-repeat;
    border: 4px solid #105296;
    -webkit-border-radius: 100px;
    border-radius: 100px;
}

.sec10 {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    background: #e7ecf2;
    background: -webkit-radial-gradient(top, ellipse cover, #ffffff 1%, #e7ecf2 100%);
    background: -webkit-radial-gradient(top ellipse, #ffffff 1%, #e7ecf2 100%);
    background: -o-radial-gradient(top ellipse, #ffffff 1%, #e7ecf2 100%);
    background: -webkit-radial-gradient(top, ellipse, #ffffff 1%, #e7ecf2 100%);
    background: -o-radial-gradient(top, ellipse, #ffffff 1%, #e7ecf2 100%);
    background: radial-gradient(ellipse at top, #ffffff 1%, #e7ecf2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e7ecf2', GradientType=1);
}

.sec10__container {
    padding-top: 26px;
    padding-bottom: 14px;
}

.discount {
    position: absolute;
    width: 96px;
    height: 96px;
    padding: 22px 0;
    font-weight: 700;
    font-size: 37px;
    text-align: center;
    color: #ffffff;
    letter-spacing: -1px;
    background: #ff7f00;
    -webkit-border-radius: 50px;
    border-radius: 50px;
}

.sec10 .discount {
    top: 70px;
    left: 335px;
}

.sec10__container .h1 {
    margin-top: 20px;
    text-transform: uppercase;
}

.sec10 .btn {
    margin: 36px 0 0;
}

.sec10__container:before {
    content: "";
    position: absolute;
    bottom: -38px;
    left: 65px;
    z-index: 1;
    display: block;
    width: 269px;
    height: 131px;
    background: url('../img/grapefruit3.png') no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
}

.sec11 {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    background: #ffffff;
}

.sec11__container {
    padding-top: 40px;
    padding-bottom: 40px;
}

.sec11 .comment {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px dashed #cccccc;
}

.sec11 .comment p {
    margin-top: 10px;
    margin-bottom: 10px;
}

.sec12 {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    background: #e7ecf2;
    background: -webkit-radial-gradient(top, ellipse cover, #ffffff 1%, #e7ecf2 100%);
    background: -webkit-radial-gradient(top ellipse, #ffffff 1%, #e7ecf2 100%);
    background: -o-radial-gradient(top ellipse, #ffffff 1%, #e7ecf2 100%);
    background: -webkit-radial-gradient(top, ellipse, #ffffff 1%, #e7ecf2 100%);
    background: -o-radial-gradient(top, ellipse, #ffffff 1%, #e7ecf2 100%);
    background: radial-gradient(ellipse at top, #ffffff 1%, #e7ecf2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e7ecf2', GradientType=1);
}

.sec12__container {
    padding-top: 40px;
    padding-bottom: 40px;
}

.sec12__container .h1 {
    margin: 8px 0;
    text-transform: uppercase;
}

.sec12 .order {
    position: relative;
    left: 20px;
    width: 360px;
    padding: 40px 40px 10px;
    text-align: center;
    background: #ffffff;
    -webkit-box-shadow: 0 0 20px #b5b0b0;
    box-shadow: 0 0 20px #b5b0b0;
}

.sec12 .order .secret span {
    top: 0;
    display: block;
    width: 100%;
    margin: 0 0 10px;
    padding: 0;
    text-align: center;
}

.sec12 .h2 {
    line-height: 1;
    letter-spacing: -2px;
}

form select {
    position: relative;
    display: block;
    width: 270px;
    height: 46px;
    margin: 0 auto 0;
    padding: 12px 15px;
    font-size: 16px;
    color: #898989;
    background: url('../img/arrow-down.svg') no-repeat 235px center;
    -webkit-background-size: 14px;
    background-size: 14px;
    border: 1px solid #a3a3a3;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none !important;
}

.sec12 form .zakaz {
    margin: 0 0 10px;
    font-weight: 900;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: -1px;
}

.sec12 .discount {
    top: 200px;
    left: 335px;
    z-index: 9;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    -webkit-transition-timing-function: cubic-bezier(0.17, 0.67, 0.69, 1.31);
    -o-transition-timing-function: cubic-bezier(0.17, 0.67, 0.69, 1.31);
    transition-timing-function: cubic-bezier(0.17, 0.67, 0.69, 1.31);
}

form input {
    display: block;
    width: 270px;
    height: 46px;
    margin: 10px auto;
    padding: 12px 15px;
    font-size: 16px;
    color: #898989;
    background: #ffffff;
    border: 1px solid #a3a3a3;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none !important;
}

.sec12 form ::-webkit-input-placeholder {
    color: #898989;
}

.sec12 form ::-moz-placeholder {
    color: #898989;
}

.sec12 form :-moz-placeholder {
    color: #898989;
}

.sec12 form :-ms-input-placeholder {
    color: #898989;
}

.sec12__part:first-of-type {
    width: 66%;
}

.sec12 .old_price,
.sec12 .new_price {
    padding: 0;
    line-height: 1.2;
    text-align: center;
}

.sec12 .total {
    display: block;
    font-weight: 900;
    font-size: 36px;
    line-height: 1.2;
    color: #ca2957;
}

.sec12 .shipment {
    display: block;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.2;
}

.sec12 .btn {
    width: 100%;
    margin-top: 14px;
    font-size: 22px;
}

.sec12__part:first-of-type .prod {
    position: relative;
    left: -80px;
    z-index: 0;
    width: 590px;
    margin-top: 38px;
}

.sec6 .list {
    background: white;
    border-radius: 15px;
    padding: 47px 5px;
    margin: 0;
}

.sec6 .left-wrap {
    max-width: 478px;
    width: 100%;
}

.sec6 .list li {
    color: #343434;
    margin-bottom: 36px;
    position: relative;
    min-height: 75px;
    font-size: 0;
    padding-left: 0;
}

.sec6 .list li .img_cont {
    display: inline-block;
    vertical-align: middle;
    width: 24%;
    text-align: center;
}

.sec6 .list li:last-child {
    margin-bottom: 0;
}

.sec6 .h1 {
    color: #fff;
    margin-bottom: 25px;
}

.sec6 .list li p {
    display: inline-block;
    vertical-align: middle;
    width: 76%;
    font-size: 16px;
    padding-right: 25px;
    margin: 0;
    font-family: "PT Sans", sans-serif;
}

.sec6 .cup {
    position: absolute;
    top: 245px;
    left: 507px;
    max-width: 415px;
    width: 100%;
}

.sec6 .prod {
    top: 80px;
    right: -319px;
    position: absolute;
}

.sec10__part img {
    width: 466px;
}

@-moz-document url-prefix() {
    .sec9__part {
        width: 310px;
        text-align: left;
    }
}

.only-web {
    display: block;
}

.only-mob {
    display: none;
}

select::-ms-expand {
    display: none;
}

.sec1__part:last-of-type .only-mob {
    display: none;
}

.iva-wrap {
    padding: 20px 0 10px;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.item-gift {
    display: none;
    margin: 10px 0;
    font-weight: 900;
       font-size: 20px;
    line-height: 25px;
    text-align: center;
    color: #ca2957;
    text-shadow: 1px 1px 1px #0000008c;
}